body {
	font-family: 'RobotoL';
}

td {
	vertical-align: middle !important;
	white-space: nowrap;
}

li > input {
	width: 90px;
	padding-left: 3px;
	padding-right: 3px;
}

li.input {
	padding: 4px 4px 0 5px;
}

li > div.form-group {
	margin-bottom: 2px;
}

li > div > input.form-control {
	/*height: 28px;*/
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
}

.btn-group > .btn + .left-3 {
	left: -3px;
}

.btn-group > .btn + .dropdown-toggle {
	height: 34px;
}

.btn-group > .btn,
.btn-group-vertical > .btn {
	position: relative;
	float: none;
}

.dropdown-menu {
	min-width: 10px;
	z-index: 99000;	
}

.form-group {
	margin-top: 5px;
}

.has-error {
	background-color: #f2dede !important;
}

.input-group-addon-right {
	border-left: 0;
}

.input-group-addon-dropdown {
	border-left: 0;
}

.input-group-addon-button {
	border: 0;
	padding: 0;
	background-color: #ededed;
}

.nav-tabs > li {
	font-weight: bold;
}

.nav-tabs-contents {
	position: relative;
	padding: 10px 5px 5px 5px;
}

.text-align-center {
   text-align: center;   
}

.text-align-right {
   text-align: right;   
}

.profit {
	color: #009900;
}

.loss {
	color: red;
}

.even {
	color: #3399ff;
}

@font-face {
	font-family: 'RobotoL';
	font-style: normal;
	font-weight: 300;
	src: local('Roboto Light'), local('Roboto-Light'),
	url(http://themes.googleusercontent.com/static/fonts/roboto/v10/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
